    @import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

    body {
        background-image: url('../img/bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        
    }
    h1{
        font-family: 'Baloo Bhaina', cursive;
        font-size: 50pt;
    }
    
    #main {
        font-family: 'Baloo Bhaina', cursive;
        /*width:600px;*/
        height:500px;
        margin: auto;
        width:100%;
        padding: 10px;
        border-style: solid;
    }
    #name{
        float: left;
        padding-right: 30px;
        font-size: 30px;
    }
    #score{
        float: right;
        font-size: 30px;
    }
    #player0{
        
    }
    #player1{
        
    }
    #player2{
        
    }
    #player3{
        
    }
    
    input{
        position:absolute;
        margin:0%;
        font-size:1.3em;
        background-color: white;
        border: thin;
        border-radius: 10px;
        outline:none; /*hides button outline when clicking on it*/
        font-weight:bolder;
        color:red;
        cursor:pointer;
    }
    
   /* #output{
        width:600px;   
        margin:0 auto;
        position:absolute;
        text-align:center;
        top:450px;
        font-size:1.5em;
        line-height: .7em;
    }
    
    footer{
        font-family: "Times New Roman", Georgia, Serif;
        font-size:.8em;
        width:600px;
        margin:0 auto;
        padding-top:10px;
    }*/